body {
  background-color: black;
  color: wheat;
}

.scroll-up {
  display: inline-block;
  position: fixed;
  bottom: 40px;
  right: 40px;
  width: 50px;
  height: 50px;
  background-color: orange;
  border: none;
  border-radius: 50%;
  outline: none;
  font-size: 30px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.is-hidden {
display: none;
}
